.giveaway {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
    &--navbar {
        padding: 4rem 2rem 0 2rem;
    }
    &--title {
        color: $color-light;
        font-family: "Rubik Dirt", cursive;
        width: 100%;
        text-align: center;
        font-size: 5rem;
        margin: 4rem auto;
        padding: 0 4rem;
    }
    &--text {
        color: $color-light;
        font-family: "Rubik Dirt", cursive;
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        margin: 2rem auto;
        padding: 0 4rem;
    }
    &--container {
        max-width: 1920px;
        padding: 0 4rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 5rem;
    }
}

.giveawayItem {
    background-color: $color-primary-2;
    max-width: 20rem;
    padding: 1.2rem;
    margin: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & img {
        margin: 0 0 2rem 0;
    }
    & p {
        color: $color-light-2;
        font-size: 0.85rem;
        margin-bottom: 1rem;
    }
    &--title {
        color: $color-light;
        margin: 0 0 2rem 0 !important;
        text-align: center;
        font-size: 1.5rem !important;
    }
    &--description {
        line-height: 1.25rem;
        font-size: 1rem;
        &::first-letter {
            padding-left: 0.5rem;
        }
    }
    & a {
        border: none;
        padding: 0.8rem 3rem;
        background-color: $color-secondary;
        color: $color-light-1;
        border: 0.5px solid $color-secondary;
        border-radius: 5px;
        margin: 0 1rem;
        font-family: inherit;
        cursor: pointer;
        transition: all 0.4s;
        text-decoration: none;
        &:hover {
            border: 0.5px solid $color-light;
        }
    }
}
