.homepageContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    &--navigationBar {
        padding: 4rem 6rem !important;
    }
}

.landingImage {
    height: 100vh;
    -webkit-box-shadow: inset 0px -40px 38px 25px rgba(0, 0, 0, 0.79);
    -moz-box-shadow: inset 0px -40px 38px 25px rgba(0, 0, 0, 0.79);
    box-shadow: inset 0px -40px 38px 25px rgba(0, 0, 0, 0.79);
    position: relative;

    &--image {
        width: 100%;
        filter: brightness(0.5);
    }
    &--video {
        max-width: 100vw;
        min-height: 100vh;
        object-fit: cover;
    }
    &--text {
        position: absolute;
        font-family: "Rubik Dirt", cursive;
        color: $color-light;
        bottom: 0%;
        left: 20%;
        transform: translateX(-50%) translateY(-100%);
        font-size: 5rem;
        text-align: center;
        @media screen and (max-width: 900px) {
            font-size: 4rem;
            top: 90%;
            left: 40%;
        }
    }
    &--gif {
        position: relative;
        height: 6rem;
        cursor: pointer;
        left: 95%;
        transform: translateX(-50%);
        @media screen and (max-width: 900px) {
            display: none;
        }
    }
    &--subtext {
        color: white;
        text-align: center;
        width: 100%;
        margin-bottom: 2rem;
        font-size: 2rem;
        @media screen and (max-width: 900px) {
            display: none;
        }
    }
    &--subdiv {
        position: absolute;
        width: 100%;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
    }
}

.flex {
    display: flex;
    @media screen and (max-width: 900px) {
        flex-direction: column;
    }
}

.gamesContainer {
    margin: 0 auto 5rem auto;
    max-width: 1900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pagesContainer {
    margin: 2rem auto 4rem auto;
    & span {
        font-size: 1.75rem;
        color: $color-light;
        transition: all 0.4s;
    }
    &--button {
        background-color: $color-secondary;
        margin: 0 0.5rem;
        cursor: pointer;
        padding: 0 0.5rem;

        &:hover {
            color: $color-dark;
        }
    }
    &--page {
        padding: 0 0.5rem;
        margin: 0 0.5rem;
    }
}
.buttonContainer {
    display: flex;
    max-width: 1440px;
    margin: 2rem auto 0 auto;
    justify-content: space-between;
    & a {
        border: none;
        padding: 0.8rem 3rem;
        background-color: $color-secondary;
        color: $color-light-1;
        border: 0.5px solid $color-secondary;
        border-radius: 5px;
        margin: 0 1rem;
        font-family: inherit;
        cursor: pointer;
        transition: all 0.4s;
        font-size: 1rem;
        text-decoration: none;
        text-align: center;
        &:hover {
            border: 0.5px solid $color-light;
        }
    }
}

.infoGrid {
    display: flex;
    max-width: 1440px;
    margin: 15rem auto 0rem auto;
    padding: 0 2rem;

    @media screen and (max-width: 900px) {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    &--gif {
        width: 25rem;
        height: auto;
        border-radius: 20px;
    }

    &--text {
        padding: 4rem;
        & h2 {
            color: $color-secondary;
            font-size: 3rem;
            margin-bottom: 3rem;
            font-family: "Rubik Dirt", cursive;
        }
        & h4 {
            color: $color-light;
            font-size: 1.25rem;
            line-height: 3rem;
        }
    }
}

.gamesGrid {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 5rem auto;
    min-width: 60vw;

    @media screen and (max-width: 900px) {
        justify-content: center;
        align-items: center;
    }

    &--text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4rem;
        & h2 {
            color: $color-primary;
            font-size: 3rem;
            font-family: "Rubik Dirt", cursive;
        }
        & h4 {
            color: $color-secondary-2;
            font-size: 1.25rem;
            line-height: 3rem;
            cursor: pointer;
            transition: all 0.4s;
            &:hover {
                color: $color-secondary;
            }
        }
        @media screen and (max-width: 900px) {
            flex-direction: column;
            padding: 1rem 0;
            & h2 {
                margin-bottom: 2rem;
            }
        }
    }
    &--games {
        display: flex;
        height: 20rem;
        overflow: scroll;
        scroll-behavior: smooth;
        max-width: 75vw;
        @media screen and (max-width: 900px) {
            height: 30rem;
            max-width: 75vw;
        }
    }
}

.newsGrid {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 1rem auto 4rem auto;
    min-width: 60vw;

    @media screen and (max-width: 900px) {
        justify-content: center;
        align-items: center;
    }

    &--text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 4rem;
        & h2 {
            color: $color-light;
            font-size: 3rem;
            font-family: "Rubik Dirt", cursive;
        }
        & h4 {
            color: $color-light-2;
            font-size: 1.25rem;
            line-height: 3rem;
            cursor: pointer;
            transition: all 0.4s;
            &:hover {
                color: $color-light;
            }
        }
        @media screen and (max-width: 900px) {
            flex-direction: column;
            padding: 1rem 0;
            & h2 {
                margin-bottom: 2rem;
            }
        }
    }
    &--news {
        display: flex;
        overflow: scroll;
        scroll-behavior: smooth;
        max-width: 85vw;
        @media screen and (max-width: 900px) {
            max-width: 75vw;
        }
    }
}

.giveawayGrid {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 1rem auto 10rem auto;
    min-width: 60vw;

    @media screen and (max-width: 900px) {
        justify-content: center;
        align-items: center;
    }

    &--text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4rem;
        & h2 {
            color: $color-primary;
            font-size: 3rem;
            font-family: "Rubik Dirt", cursive;
        }
        & h4 {
            color: $color-secondary-2;
            font-size: 1.25rem;
            line-height: 3rem;
            cursor: pointer;
            transition: all 0.4s;
            &:hover {
                color: $color-secondary;
            }
        }
        @media screen and (max-width: 900px) {
            flex-direction: column;
            padding: 1rem 0;
            & h2 {
                margin-bottom: 2rem;
            }
        }
    }
    &--giveaways {
        display: flex;
        overflow: scroll;
        scroll-behavior: smooth;
        max-width: 85vw;
        @media screen and (max-width: 900px) {
            max-width: 75vw;
        }
    }
}

.secondColor {
    padding: 2rem;
    background-color: $color-dark;
}
