.menu {
    position: fixed;
    top: 20%;
    left: 0;
    background-color: $color-secondary-1;
    z-index: 500;
    width: 4rem;
    height: 4rem;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;

    & img {
        cursor: pointer;
        filter: invert(1);
    }

    &--container {
        position: absolute;
        top: 0;
        left: -10rem;
        color: white;
        background-color: $color-secondary-1;
        display: flex;
        flex-direction: column;

        width: 10rem;
        & li {
            padding: 1rem 2rem;
            cursor: pointer;
            transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.4s;
            font-size: 1rem;
            &:hover {
                background-color: $color-light;
                color: $color-secondary;
            }
        }
    }

    &--shift {
        left: 10rem;
    }
}
