.pagination {
  display: flex;
  justify-content: center;
  margin: 4rem auto;
  & span {
    background-color: $color-secondary;
    padding: 0.4rem 0.6rem;
    border-radius: 5px;
    color: $color-light;
    font-size: 1.5rem;
    margin: 0 0.65rem;
  }
  &--clickable {
    cursor: pointer;
    transition: all 0.4s;
    &:hover {
      color: $color-dark-2;
    }
  }
  &--number {
    padding: 0.4rem 0.8rem !important;
    background-color: inherit !important;
  }
}
