$color-dark: #2c3333;
$color-dark-1: #2c3333ee;
$color-dark-2: #2c3333bb;

$color-primary: #395b64;
$color-primary-1: #395b64ee;
$color-primary-2: #395b64bb;

$color-secondary: #2666cf;
$color-secondary-1: #2666cfee;
$color-secondary-2: #2666cfbb;

$color-light: #f5f2e7;
$color-light-1: #f5f2e7ee;
$color-light-2: #f5f2e7bb;

html,
body {
    background-color: black;
}
